.button {
  margin-top: 10px;
  color: white;
  background-color: rgba(255,0,0,0.8);
  padding: 10px;
  width: 200px;
  font-size: 28px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(255,0,0,1)
}

.btn-trivia {
  font-size: 0.9em;
  width: 90px;
}