.container-game-over{
  background-color: #000;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container-game-over p {
  color: #fff;
}

.container-game-over img{
  width:160px;
}

.btn-game-over {
  width: 200px;
  font-size: 1.1em;
  padding: 12px 10px;
}

.title-game-over{
  font-size: 1.6em;
  text-align: center;
  margin-bottom: 16px;
}

.text-game-over {
  margin-top: 23px;
}

.container-buttons-game-over{
  margin-top: 15px;
}

.btn-game-over:nth-child(2) {
  margin-left: 20px;
}

@media only screen and (max-width: 600px) {
  .text-game-over {
    width: calc(100% - 30px);
    text-align: center;
  }
  
  .container-buttons-game-over {
    display: flex;
    flex-direction: column;
  }

  .btn-game-over:nth-child(2){
    margin-left: 0;
  }

}