.container-general-ranking {
  background-image: url('../../assets/imagenes/fondo.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  overflow: hidden;
  height: 100vh;
}

.container-general-ranking > div:nth-child(1) {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.container-general-ranking > div:nth-child(1) img {
  width: 380px;
}

.container-general-ranking > p:nth-child(1){
  font-size: 1.5em;
  text-align: center;
}

.general-ranking-title {
  margin-top: 20px;
  margin-bottom: 8px;
  font-size: 1.6em;
  text-align: center;
}

.container-table-ranking {
  margin: 10px 15%;
  height: 48vh;
  overflow-y: scroll;
}

.container-table-ranking table {
  width: 100%;
  border-collapse: collapse;
}

.container-table-ranking table th, td {
  border-top: 1px solid white;
  text-align: center;
  padding: 9px;
  margin:0;
}

.triangle{
  width: 0;
  height: 0;
  text-align: center;
  background: transparent;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 30px solid #fff;
  margin-left: 15px;
}

.container-id{
  background-color: rgba(100, 10, 10, 1);
  padding: 2px 10px;
  border-radius: 8px;
}

.btn-general-ranking {
  width: 200px;
  font-size: 1.2em;
  padding: 15px 10px;
}

.container-btn-ranking {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-table-ranking-export {
  margin: 10px 5%;
  height: 60vh;
}

.container-table-ranking-export > table, td {
  font-size: 0.95em;
}

.container-btn-export-excel {
  display: flex;
  justify-content: flex-end;
  margin-right: 60px;
}

.container-btn-export-excel  button {
  background-color: rgba(0,255,0,0.6);
  color: #fff;
  font-size: 1.1em;
  border-radius: 6px;
  border-color: rgba(0,255,0,0.6);
  padding: 5px;
}

.container-btn-export-excel  button:hover {
  cursor: pointer;
  background-color: rgba(0,255,0,0.5);
  border-radius: 6px;
  border-color: rgba(0,255,0,0.5);
}


@media only screen and (max-width: 600px) {
  .container-table-ranking {
    margin: 10px 20px;
    height: 70vh;
    overflow-x: scroll;
  }     
}