.container {
    background-image: url('../../assets/imagenes/fondo.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.absolute-content {
    /* position: absolute;
    align-items: center; */
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
     /* bottom: 28%; */
    
}

.logo-trivia {
    position: absolute;
    align-items: center;
    top: 7%;
    height: 400px;
    width: 400px;
}

h3 {
    text-align: center;
    color: white;
}

@media only screen and (max-width: 600px) {
    .logo-trivia {
        top: 30%;
        width: 320px;
        height: 200px;
    }
    .absolute-content{
        margin-top: 10px;
    }   
}