.container {
    background-image: url('../../assets/imagenes/fondo.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.absolute-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo-trivia {
    width: 400px;
}

h3 {
    text-align: center;
    color: white;
}

@media only screen and (max-width: 600px) {
    .logo-trivia {
        width: 320px;
    }
    .absolute-content{
        margin-top: 0;
    }   
}