.container {
    background-image: url('../../assets/imagenes/fondo.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.absolute-content {
    /* position: absolute;
    align-items: center; */
    margin-top: 160px;
    display: flex;
    align-items: center;
    flex-direction: column;
     /* bottom: 28%; */
    
}

.logo-trivia {
    position: absolute;
    align-items: center;
    top: 7%;
    height: 400px;
    width: 400px;
}

h3 {
    text-align: center;
    color: white;
}