.container-trivia {
  background-image: url('../../assets/imagenes/fondo.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: center;
  color: #fff;
  overflow: hidden;
}

.question {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.question > .number {
  padding: 10px 20px;
  border-radius: 100%;
  font-size: 25px;
  background-color: #660a1a;
  margin-right: 15px;
}

.alternatives-content {
  margin-left: 4%;
}
.alternatives-content > .alternative {
  margin-left: 16px;
  margin-top: 3px;
}

.alternative label {
  font-family: graphikArabicRegular;
}

.form-section button {
  margin-left: 5%;
  width: 120px!important;
}

.container-trivia > div:nth-child(1) {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-trivia > div:nth-child(1) img {
  width: 380px;
  margin-top: 20px;
}

.container-trivia > p:nth-child(1){
  font-size: 1.5em;
  text-align: center;
}

.container-trivia > div:nth-child(2) {
  width: 100%;
}

  .container-trivia > div:nth-child(2) > p:nth-child(1) {
    font-size: 1.7em;
    text-align: center;
  }

  .container-trivia > div:nth-child(2) > p:nth-child(2) {
    font-size: 1em;
    text-align: center;
  }

  .container-trivia > div:nth-child(2) > p:nth-child(3) {
    font-size: 1em;
    text-align: center;
  }

  .container-trivia > div:nth-child(2) > p:nth-child(4){
    font-size: 1.3em;
    text-align: center;
  }

.container-trivia > div:nth-child(3) {
  width: 100%;
  margin-left: 10.5%; 
}

.timer-one {
  font-size: 1.2em;
  color: #ffce00;
}

.timer-two {
  font-size: 3em;
  color: #ffce00;
}

.container-progress-bar {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 4.5%;
}

.container-marcador{
  width: 75%;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {

  .question > .number {
    padding: 5px 10px;
    font-size: 1em;
  }

  .container-trivia {
    padding: 0 5px;
    width: calc(100% - 10px);
  }

  .container-trivia > div:nth-child(2) > p:nth-child(1) {
    font-size: 1.2em;
  }

  .container-trivia > div:nth-child(3){
    margin-left: 0px;
    width: calc(100% - 30px);
    padding-left: 15px;
    padding-right: 15px;
  }

  .form-section {
    width: calc(100% - 40px);;
    padding-left: 40px;
  }

  .container-trivia > div:nth-child(2) {
    padding-top: 0;
  }

  .content-section p{
    margin-top: 10px;
    font-size: 0.9em;
  }

  .container-marcador{
    margin-top: 15px;
  }

  .container-trivia > div:nth-child(3) {
    padding-top: 0;
  }

  .container-trivia > div:nth-child(1) img {
    width: 200px;
  }

  .container-trivia > div:nth-child(2) > p:nth-child(2) {
    font-size: 0.9em;
  }

  .container-trivia > div:nth-child(2) > p:nth-child(3) {
    font-size: 0.9em;
  }

  .timer-two {
    font-size: 1.2em;
  }

}