.container-trivia {
  background-image: url('../../assets/imagenes/fondo.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: center;
  color: #fff;
  overflow: hidden;
}

.question {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.question > .number {
  padding: 7px 16.5px;
  border-radius: 100%;
  font-size: 20px;
  background-color: #660a1a;
  margin-right: 15px;
}

.alternatives-content {
  margin-left: 35px;
}
.alternatives-content > .alternative {
  margin-left: 16px;
  margin-top: 0;
}

.alternative label {
  font-family: graphikArabicRegular;
  font-size: 0.9em;
}

.form-section button {
  margin-left: 5%;
}

.container-trivia > div:nth-child(1) {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-trivia > div:nth-child(1) img {
  width: 380px;
  margin-top: 20px;
}

.container-trivia > p:nth-child(1){
  font-size: 1.5em;
  text-align: center;
}

.container-trivia > div:nth-child(2) {
  width: 100%;
}

  .container-trivia > div:nth-child(2) > p:nth-child(1) {
    font-size: 1.7em;
    text-align: center;
  }

  .container-trivia > div:nth-child(2) > p:nth-child(2) {
    font-size: 1em;
    text-align: center;
  }

  .container-trivia > div:nth-child(2) > p:nth-child(3) {
    font-size: 1em;
    text-align: center;
  }

  .container-trivia > div:nth-child(2) > p:nth-child(4){
    font-size: 1.3em;
    text-align: center;
  }

.container-trivia > div:nth-child(3) {
  width: 100%;
  margin-left: 10.5%; 
}

.timer-one {
  font-size: 1.2em;
  color: #ffce00;
}

.timer-two {
  font-size: 2.3em;
  color: #ffce00;
}

.container-progress-bar {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 4.5%;
}

.container-marcador{
  width: 75%;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {

  .alternatives-content {
    margin-left: 0;
  }

  .alternatives-content > .alternative {
    margin-left: 0;
    margin-top: 3px;
  }

  .question > .number {
    padding: 5px 10px;
    font-size: 1em;
  }

  .container-trivia {
    padding: 0 5px;
    width: calc(100% - 10px);
  }

  .container-trivia > div:nth-child(2) > p:nth-child(1) {
    font-size: 1.2em;
  }

  .container-trivia > div:nth-child(3){
    margin-left: 0px;
    width: calc(100% - 30px);
    padding-left: 15px;
    padding-right: 15px;
  }

  .form-section {
    width: calc(100% - 40px);;
    padding-left: 40px;
  }

  .container-trivia > div:nth-child(2) {
    padding-top: 0;
  }

  .content-section p{
    margin-top: 10px;
    font-size: 0.9em;
  }

  .container-marcador{
    margin-top: 15px;
  }

  .container-trivia > div:nth-child(3) {
    padding-top: 0;
  }

  .container-trivia > div:nth-child(1) img {
    width: 200px;
  }

  .container-trivia > div:nth-child(2) > p:nth-child(2) {
    font-size: 0.9em;
  }

  .container-trivia > div:nth-child(2) > p:nth-child(3) {
    font-size: 0.9em;
  }

  .timer-two {
    font-size: 1.2em;
  }

}


.content-input input,
.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
 
.content-input input{
	visibility: hidden;
	position: absolute;
	right: 0;
}

.content-input{
	position: relative;
	padding:5px 0 5px 45px; /* Damos un padding de 60px para posicionar el elemento <i> en este espacio*/
	display: block;
}
 
/* Estas reglas se aplicarán a todos las elementos i después de cualquier input*/
.content-input input + i{
 background: #f0f0f0;
 border:2px solid rgba(0,0,0,0.2);
 position: absolute; 
 left: 0;
 top: 0;
}
 
/* Estas reglas se aplicarán a todos los i despues de un input de tipo radio*/
.content-input input[type=radio] + i{
 height: 16px;
 width: 16px;
 border-radius: 100%;
 left: 15px;
 top: 5px;
 border: 4px solid rgba(0,0,0,0.75);
}

.content-input input[type=radio] + i:before{
	content: '';
	display: block;
	height: 13px;
	width: 13px;
	background: red;
	border-radius: 100%;
	position: absolute;
	z-index: 1;
	top: 1.2px;
	left: 1.3px;
	background:#ffce00;
	transition: all 0.25s ease; /* Todas las propiedades | tiempo | tipo movimiento */
	transform: scale(0) /* Lo reducimos a 0*/ ;
	opacity: 0; /* Lo ocultamos*/
}

.content-input input[type=radio]:checked + i:before{
	transform: scale(1);
	opacity: 1;
}


.content-input:hover input[type=radio]:not(:checked) + i{
	background: #B1E8CD;
}