.container-trivia {
  background-image: url('../../assets/imagenes/fondo.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: center;
  color: #fff;
  overflow: hidden;
}

.question {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.question > .number {
  padding: 10px 20px;
  border-radius: 100%;
  font-size: 25px;
  background-color: #660a1a;
  margin-right: 15px;
}

.alternatives-content {
  margin-left: 4%;
}
.alternatives-content > .alternative {
  margin: 16px;
}

.form-section button {
  margin-left: 5%;
}

.container-trivia > div:nth-child(1) {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-trivia > div:nth-child(1) img {
  width: 380px;
  margin-top: 20px;
}

.container-trivia > p:nth-child(1){
  font-size: 1.5em;
  text-align: center;
}

.container-trivia > div:nth-child(2) {
  width: 100%;
  padding-top: 30px;
}

  .container-trivia > div:nth-child(2) > p:nth-child(1) {
    font-size: 1.7em;
    text-align: center;
  }

  .container-trivia > div:nth-child(2) > p:nth-child(2) {
    font-size: 1em;
    text-align: center;
  }

  .container-trivia > div:nth-child(2) > p:nth-child(3) {
    font-size: 1em;
    text-align: center;
  }

.container-trivia > div:nth-child(3) {
  width: 100%;
  padding-top: 30px;
  margin-left: 10.5%; 
}

.timer {
  font-size: 1.2em;
  color: rgba(255, 99, 71, 1);
}

.container-progress-bar {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 4.5%;
}

.container-marcador{
  width: 75%;
  display: flex;
  justify-content: center;
}

