.button {
  margin-top: 10px;
  color: white;
  background-color: red;
  padding: 10px;
  width: 200px;
  font-size: 28px!important;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  z-index: 1;
}