@font-face {
  font-family: graphikArabicSemibold;
  src: url('./assets/font/Graphik Arabic SemiBold/Graphik_Arabic_SemiBold.ttf');
}

@font-face {
  font-family: graphikArabicRegular;
  src: url('./assets/font/Graphik Arabic Regular/graphikarabic-regular.otf');
}

body {
  font-family: graphikArabicSemibold;
  padding: 0 !important;
  margin: 0 !important;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

button {
  font-size: 18px!important;
}